<center>
	<form action="/product/create" method="POST" enctype="multipart/form-data">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<center>
			<div class="box">
				<div>
					<% @counter = 1 %>
					<% if(not @msg.nil?)  %>
						<% @msg.each do |x| %>
							<%= @counter %>
							<%= x %>
							<% @counter = @counter + 1 %>
							<br/>
						<% end %>
					<% end %>
				</div>
			</div>

			<table>
				<tr><th colspan="2">Add New Product</th></tr>
				<% @labels.size.times do |x| %>
					<tr>
						<td class="tab1"><%= label_tag @labels[x]+" : " %></td>
						<td class="tab2">
							<% if @val.size>0 %>
								<% if @names[x]=="minbid" %>
									<input type="number" name="minbid" value="<%= @val[x] %>" step="0.0001"></input>
								<% else %>
									<%= text_field_tag @names[x],@val[x] %>  
								<% end %>
							<% else %>
								<% if @names[x]=="minbid" %>
									<input type="number" name="minbid" step="0.0001"></input>  
								<% else %>
									<%= text_field_tag @names[x] %>  
								<% end %>
							<% end %>
						</td>
					</tr>
					<% end %>

					<tr>
						<td class="tab1"><label for="category">Category : </label></td>
						<td class="tab2">
							<select name="category">
								<option value="Category">Select Category</option>
								<% @category.each do |cat| %>
									<option value="<%= cat.name %>"><%= cat.name %></option>
								<% end -%>
							</select>
						</td>
					</tr>

					<tr>
						<td class="tab1"><%= label_tag :pimage, "Item Image : " %></td>
						<td class="tab2"><%= file_field_tag :pimage %></td>
					</tr>

					<tr><td colspan="2"><%= submit_tag "Add Product" %></td></tr>
			</table>
		</center>
	</form>
</center>
