<% user=@us %>

<script>
$(document).ready(function() { /* code here */jQuery('#starttime').datetimepicker({minDate:0});
jQuery('#endtime').datetimepicker({minDate:0}); 
});
</script>

<h2 style="text-align:center"><%= @pname %></h2>
<div class="img"><center><img src="<%= user.image %>"></center></img></div>
<br/><br/><br/>
<div class="card1">
<table>
<% @labels.size.times do |x| %>
	<tr>
		<td><%= @labels[x] %></td>
		<td><%= @vals[x] %></td>
	</tr>
	<tr>
<% end %>
		<td>Auction Status:</td>
		<td><%= @arrmap[@p.auction_status] %></td>
	</tr>
</table>
<% if @p.auction_status.eql?("AUCTION_LIVE") %>
	<a href="/auction/show?id=<%= @p.id %>"> Go to Auction Page</a>
<% end %>
</div>
<br/>
<% if not session["userdata"].nil? and @p.seller_id==session["userdata"]["id"] %>
	<% if  @p.auction_status.eql?("None") %>
		<form action="/product/schedule" method="post">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= hidden_field_tag :id,@vals[3] %>
			<label for="starttime">Start Time </label>
			<input id="starttime" type="text" name="starttime" />
			<label for="endtime">End Time </label>
			<input id="endtime" type="text"  name="endtime" />
			<input type="submit" value="Schedule Auction"/>
		</form>
	<% else %>
	<% if @cancancel %>
	<a  href="cancel?id=<%= @vals[3] %>">Cancel Auction </a>
	<% end %>
	<% end %>
<% end  %>