
<%= javascript_include_tag "datepicker.js" %>

<%= stylesheet_link_tag "datepicker.css" %>
<script>
$(document).ready(function() { /* code here */jQuery('#starttime').datetimepicker({minDate:0}); 

jQuery('#endtime').datetimepicker({minDate:0}); 
});

</script>
<h4><%= @pname %></h4>
<table>

	<% @labels.size.times do |x| %>



<tr>
	<td>
	<%= @labels[x] %>
	</td>

	<td>
	<%= @vals[x] %>
	</td>
	
</tr>
<tr>

<% end %>
	<td>
Auction Status:
	</td>

	<td> 	
	<%= @arrmap[@p.auction_status] %>
	</td>

</table>
<% if @p.auction_status.eql?("AUCTION_LIVE") %>
<a href="/auction/show?id=<%= @p.id %>"> Go to AUctioon PAge</a>
<% end %>
<% if not session["userdata"].nil? and @p.seller_id=session["userdata"]["id"] %>
<% if not @p.auction_status.eql?("SCHEDULED") %>
<form action="/product/schedule" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<%= hidden_field_tag :id,@vals[3] %>

<label for="starttime">Start Time </label>

<input id="starttime" type="text" name="starttime" />
<label for="endtime">End Time </label>
<input id="endtime" type="text"  name="endtime" />

<input type="submit" value="Schedule Auction"/>
</form>
<% else %>
<a  href="cancel?id=<%= @vals[3] %>">
Cancel Auction 
</a>

<% end %>
<% end  %>