
<h4> Auction History</h4>
<table>
<tr>

<th>Auction ID</th>

<th>Name of Product</th>
<th>Maximum Bid</th>

<th>Auction Status</th>
<th>Won/Lost</th>
<th>Details link</th>
</tr>

<% @b.each do |xx|%>
<tr>
	<td><%= xx[:id]%></td>

	<td><%= xx[:name]%></td>

	<td><%= xx[:value]%></td>

	<td><%= xx[:status]%></td>
	<td><%= xx[:result] %></td>
	<td>
	<a href="/product/show?id=\""<%=xx[:url]%> ">Goto Page</a></td>

</tr>

<% end %>


</table>