<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-client_id" content="365363926796-03cv8tv3aq3dt8f6ob5rlcqj9ln53crr.apps.googleusercontent.com">
    <title>Online Auction</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<!--Header Starts-->
<header class="header" >
  <div class="img_"><img src="/img/icon.ico"/></div>
  <div class="title_" style="margin-top: -10px;">OAS</div>
  <div class="title_" style="margin-left: 2.5em;">
    <input type="text" class="form-control" placeholder="Search">
    <input type="submit" class="btn btn-primary btn-xs" value="Search!!"></input>
  </div>

  <div class="b2">
    <div class="col-lg-2" style="display:inline-block;">
      <div class="menu">
        <% if session[:userdata].nil? %>
          <br/>
          <a href="/login" class="btn btn-primary">Login </a>
          <a href="/register" class="btn btn-primary">Register Here</a>
        <% else %>
          <div class="dmenu">
            Welcome, <%= session[:userdata]["name"] %><br/>
            <a class="text-primary" href="/auction/create">Add an Item</a>
            <a class="text-primary" href="/product/">My Items</a>
            <a class="text-primary" href="/logout">Log Out</a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row search-box justify-content-right" style="display:inline-block;">
      <div class="col-lg-4 ">
        <form action="/search" method="GET">
          
        </form>
      </div>
    </div>
  </div>
</header>
    <!--Header Ends-->

  <body>
    
    <div class= "b1">
      <div class="container-fluid">
        <!--
        <div class="row header">
          
          <div class="col-lg-1">
            <div class="logo"><img src="/icon.ico" height=40 width=40 /></div>
          </div>
          
          <div class="col-lg-8"></div>
        </div>

        <div class="section section--features">
          <div class="row search-box justify-content-center">
            <div class="col-lg-4 ">
              
              <form action="/search" method="GET">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>

                <div class="row">
                  <div class="col-lg-2 form-group">
                    <input type="submit" class="btn btn-primary btn-xs" value="Search!!"></input>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-lg-2">
              <div class="menu">
                <% if session[:userdata].nil? %>
                  <br/>
                  <a href="/login" class="btn btn-primary">Login </a>
                  <br/><br/>
                  <a href="/register" class="btn btn-primary">Register Here</a>
                  <br/>
                <% else %>
                  <div class="dmenu">
                    Welcome, <%= session[:userdata]["name"] %><br/>
                    <a class="text-primary" href="/auction/create">Add an Item</a>
                    <a class="text-primary" href="/product/">My Items</a>
                    <a class="text-primary" href="/logout">Log Out</a>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        -->
        <br/><br/><br/>

        <div class="content"><%= yield %></div>
        <br/>
      </div>
    </div>

    <div class="footer">
      <div style="background-color: lightgrey;">
      <hr style="border-top: 5px double black; margin-bottom: -10px;"/>
      <center><div class="foot_support"><h3>A Reliable Auction Platform : Bid Freely...!</h3></div></center>
      <hr style="border-top: 5px double black; margin-top: -10px;"/>
      </div>
      <div class="footer_"><h3><a href="#home">Home</a></h3></div>
      <div class="footer_"><h3><a href="#news">News</a></h3></div>
      <div class="footer_"><h3><a href="#features">Features</a></h3></div>
      <div class="footer_"><h3><a href="#privacy">Privacy and Terms</a></h3></div>
      <div class="footer_"><h3><a href="#about">About</a></h3></div>
      <div class="footer_"><h3><a href="#faq">FAQ</a></h3></div>
      <div class="footer_"><h3><a href="#contact">Contact Us</a></h3></div>
    </div>

  </body>
</html>