<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-client_id" content="365363926796-03cv8tv3aq3dt8f6ob5rlcqj9ln53crr.apps.googleusercontent.com">
    <title>Online Auction</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "datepicker.js" %>


<%= stylesheet_link_tag "datepicker.css" %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<!--Header Starts-->
<header class="header" >
  <!--<div class="img_"><img src="/img/icon.ico"/></div>-->
  <div class="title_"><b><u><a href="/">Online Auction</a></u></b></div>
  <div class="title_" style="margin-left: 0.5em;">
    <form class="frm" action="/search" method="GET">

      <%@category=Category.all %>
      <select name="category">
        <option value="Category">Category</option>
        <% @category.each do |cat| %>
          <option value="<%= cat.name %>"><%= cat.name %></option>
        <% end %>
      </select>

      <input type="text" class="s_box" placeholder="Search"/>
      <input type="submit" class="find" value="Search"/>
    </form>
  </div>

  <div class="login_">
    <% if session[:userdata].nil? %>
      <div class="head_link"><a href="/login">Login</a></div>
      <div class="head_link"><a href="/register">Register</a></div>
    <% else %>
      <div class="dmenu">
        <%= session[:userdata]["name"] %><br/>
        <a class="text-primary" href="/profile/">Your Profile</a>
        <a class="text-primary" href="/product/">Your Products</a>
        <a class="text-primary" href="/logout">Log Out</a>
      </div>
    <% end %>
  </div>
</header>
<!--Header Ends-->

<body>
  <div class="content"><%= yield %></div> 

<!--Footer Starts-->
<footer>
  <div class="footer">

    <div style="background-color: rgb(66, 149, 244)">
      <hr style="border-top: 5px double black; margin-bottom: -10px;"/>
      <center><div><h3>A Reliable Auction Platform : Bid Freely...!</h3></div></center>
      <hr style="border-top: 5px double black; margin-top: -10px;"/>
    </div>

    <div class="footer_"><h3><a href="/">Home</a></h3></div>
    <div class="footer_"><h3><a href="#news">News</a></h3></div>
    <div class="footer_"><h3><a href="#features">Features</a></h3></div>
    <div class="footer_"><h3><a href="#privacy">Privacy and Terms</a></h3></div>
    <div class="footer_"><h3><a href="#about">About</a></h3></div>
    <div class="footer_"><h3><a href="#faq">FAQ</a></h3></div>
    <div class="footer_"><h3><a href="#contact">Contact Us</a></h3></div>
  </div>
</footer>
<!--Footer Ends-->
  </body>
</html>