<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-signin-client_id" content="365363926796-03cv8tv3aq3dt8f6ob5rlcqj9ln53crr.apps.googleusercontent.com">
    <title>Online Auction</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

<!--Header Starts-->

<header class="header" >

<div class="b2">
    <img src="/img/icon.ico" style="width:50px;height:54px;">
    
  </div>
  <div class="b2">
    <h1 class="b2" style= "width:70px;height:15px;"><a>OAS</a></h1></div>
  <div class="b2"style="background-color: lightgrey;">
      <div class="col-lg-4 " style="background-color: rgb(66,149,244); height:58px;width:325px;">
        <form action="/search" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">

            <input type="submit" class="btn btn-primary btn-xs" value="Search!!"></input>
          </div>
        </form>
      </div>
    </div>
    <div class="b2" style= "width:318px;height:58px;" >
      <div class="menu">
        <% if session[:userdata].nil? %>
          <br/>
          <a href="/login" class="btn btn-primary">Login </a> &nbsp; &nbsp;
          <a href="/register" class="btn btn-primary">Register Here</a>
        <% else %>
          <div class="dmenu">
            Welcome, <%= session[:userdata]["name"] %><br/>
            <a class="text-primary" href="/auction/create">Add an Item</a>
            <a class="text-primary" href="/product/">My Items</a>
            <a class="text-primary" href="/logout">Log Out</a>
          </div>
        <% end %>
      </div>
    </div>
</div>
</header>

    <!--Header Ends-->

  <body>
    <div class="b3">
      <div class="container-fluid">
        
        <!--
        <div class="row header">
          
          <div class="col-lg-1">
            <div class="logo"><img src="icon.ico" height=40 width=40 /></div>
          </div>
          
          <div class="col-lg-8"></div>
        </div>

        <div class="section section--features">
          <div class="row search-box justify-content-center">
            <div class="col-lg-4 ">
              
              <form action="/search" method="GET">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>

                <div class="row">
                  <div class="col-lg-2 form-group">
                    <input type="submit" class="btn btn-primary btn-xs" value="Search!!"></input>
                  </div>
                </div>
              </form>

            </div>

            <div class="col-lg-2">
              <div class="menu">
                <% if session[:userdata].nil? %>
                  <br/>
                  <a href="/login" class="btn btn-primary">Login </a>
                  <br/><br/>
                  <a href="/register" class="btn btn-primary">Register Here</a>
                  <br/>
                <% else %>
                  <div class="dmenu">
                    Welcome, <%= session[:userdata]["name"] %><br/>
                    <a class="text-primary" href="/auction/create">Add an Item</a>
                    <a class="text-primary" href="/product/">My Items</a>
                    <a class="text-primary" href="/logout">Log Out</a>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        -->
       

        <div class="content"><%= yield %></div>
        <br/>
        <p align:center> Welcome to Online Auction Site </p>
      </div>
    </div>

    <div class="footer">
      <div style="background-color: lightgrey;">
      <hr style="border-top: 5px double black; margin-bottom: -10px;"/>
      <center><div class="foot_support"><h3>A Reliable Auction Platform : Bid Freely...!</h3></div></center>
      <hr style="border-top: 5px double black; margin-top: -10px;"/>
      </div>
      <div class="footer_"><h3><a href="#home">Home</a></h3></div>
      <div class="footer_"><h3><a href="#news">News</a></h3></div>
      <div class="footer_"><h3><a href="#features">Features</a></h3></div>
      <div class="footer_"><h3><a href="#privacy">Privacy and Terms</a></h3></div>
      <div class="footer_"><h3><a href="#about">About</a></h3></div>
      <div class="footer_"><h3><a href="#faq">FAQ</a></h3></div>
      <div class="footer_"><h3><a href="#contact">Contact Us</a></h3></div>
    </div>

  </body>
</html>
