

<table>
<tr>
<th><h2>Live Auction</h2></th>
<th><h2>Upcomming Products</h2></th>
</tr>
<tr>
<td width=50%>
  
    <% if @st %>
      <table>
        <% @st.each do |x| %>
          <tr>
            <td>
              <div id="lll">
                <div>
                  <div class="img">
                    <img src="<%= x.image %>" ></img>
                  </div>
                </div>
                <div><%= x.name %></div>
                <div>Rs.<%= x.min_bid.to_s %></div>
                <div><%= x.description %></div>
                <a href="/product/show?id=<%= x.id %>">Go to Product Page</a>

              </div>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
</td>

<td width=50%>
  
    <% if @nst %>
      <table>
        <% @nst.each do |x| %>
          <tr>
            <td>
              <div id="lll">
                <div>
                  <div class="img">
                    <img src="<%= x.image %>" ></img>
                  </div>
                </div>
                <div><%= x.name %></div>
                <div>Rs.<%= x.min_bid.to_s %></div>
                <div><%= x.description %></div>
                <a href="/product/show?id=<%= x.id %>">Go to Product Page</a>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
</td>
</tr>
</table>
