<!DOCTYPE html>
<html>
<head>

<style>
th
{
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px
}

.card1 {
  border: 2px;
  border-radius: 8px;
  max-width: 70%;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #888888; 
  text-align: center;
  font-family: arial;
}
.card {
  border: 2px;
  border-radius: 8px;
  max-width: 70%;
  background-color: white;
  box-shadow: 10px 10px 10px 10px #888888;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>
<% user=@us %>
<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  
  <h1><%= @us.name %></h1>
  <p><%= user.email %></p>
  <p>Member Since : <%= user.created_at %></p>
  <p>Verified By : <%= user.verified_by %></p>
  <p>Type : <%= user.usertype %></p>
  <p>Products Sold : <%= @co%></p>
<%   if session[:isadmin] %>
 <p><button>Ban User<%= link_to 'ban',controller:"admin",action:"banuser",id:user.id %></button></p>

 <% end %>
</div>




<h2 style="text-align:center">Details of Products</h2>

<div class="card1">
  <table style="width:90%">
		<tr>
			<th><h2>Name</h1></th>
			<th><h2>Image</h1></th>
			<th><h2>Category</h1></th>
			<th><h2>Verified_By</h1></th>
		</tr>
    <% @pro.each do |pp| %>
			<tr>
				<td><%= pp.name%></td>
				<td><div class="img"><img src="<%= pp.image %>" ></img></div></td>
				<td><%= pp.category%></td>
				<td><%= pp.verified_by%></td>
			</tr>
		<% end %>
	</table>
</div>
</body>
</html>