<!DOCTYPE html>
<html>
<head>
  <style>
    th
    {
    	padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px
    }

    .card
    {
      text-align: center;
      font-family: arial;
      border: 2px;
      border-radius: 10px;
      max-width: 80%;
      margin: auto;
      background-color: white;
      box-shadow: 0px 0px 20px black;
    }

    .card1
    {
      padding: 0.5em;
      text-align: center;
      font-family: arial;
      border: 2px;
      border-radius: 10px;
      max-width: 90%;
      margin: auto;
      background-color: white;
      box-shadow: 0px 0px 20px black;
    }

    .title 
    {
      color: grey;
      font-size: 18px;
    }

    button 
    {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    a
    {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    button:hover, a:hover {
      opacity: 0.7;
    }
  </style>

</head>

<body>
<% user=@us %>
<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <center>
    <table>
      <tr><td colspan="2"><h2><%= @us.name %></h2></td></tr>
      <tr>
        <td class="tab1">Email : </td>
        <td class="tab2"><%= user.email %></td>
      </tr>

      <tr>
        <td class="tab1">User Type : </td>
        <td class="tab2"><%= user.usertype %></td>
      </tr>

      <tr>
        <td class="tab1">Products Sold : </td>
        <td class="tab2"><%= @co%></td>
      </tr>

      <tr>
        <td class="tab1">Varified By : </td>
        <td class="tab2">Admin => <%= user.verified_by %></td>
      </tr>

      <tr>
        <td class="tab1">Member Since : </td>
        <td class="tab2"><%= user.created_at %></td>
      </tr>

      <% if session[:isadmin] %>
        <tr>
          <td colspan="2" class="tab1">
            <button>Ban User<%= link_to 'ban', controller:"admin", action:"banuser", id:user.id %></button>
            </td>
          <td class="tab2"></td>
        </tr>
      <% end %>

    </table>
  </center>
</div>

<h2 style="text-align:center">Your Products</h2>

<div class="card1">
  <table style="width:90%">
		<tr>
			<th><h2>Name</h1></th>
			<th><h2>Image</h1></th>
			<th><h2>Category</h1></th>
			<th><h2>Verified_By</h1></th>
		</tr>
    <% @pro.each do |pp| %>
			<tr>
				<td><%= pp.name%></td>
				<td><div class="img"><img src="<%= pp.image %>" ></img></div></td>
				<td><%= pp.category%></td>
				<td><%= pp.verified_by%></td>
			</tr>
		<% end %>
	</table>
</div>
</body>
</html>