
	<script type="text/javascript">
		
function catchange(){
  var myselect = document.getElementById("categorysearch");
  window.location.href="http://localhost:3000/search?category="+myselect.options[myselect.selectedIndex].value+"&searchterm=<%=  params[:searchterm]  %>";
}


</script>

	<h1>Products Available</h1>
	<label>Sort By:</label>	
	<select onchange="catchange();" id="categorysearch"> 
		<option value="Category"> Select Category</option>
		<% @category.each do |cat| %>
			 <option value="<%= cat.name %>"><%= cat.name %></option>
		<% end %>
 

	</select>
<div class="searchregion">

		<% @r.each do |p| %>
		<div class="search1">
		<div class="search-product-image colsearch">
		<img src="<%= p.image  %>"/>
		</div>


		<div class="search-product-details colsearch">


				<div class="search-product-detail-item">
							<span class="sp-property">Description:</span><span class="sp-key"><%= p.description %></span>
				</div>
				<div class="search-product-detail-item">
								<span class="sp-property">Category:</span><span class="sp-key"><%= p.category %></span>
				</div>
				<div class="search-product-detail-item">
								<span class="sp-property">Minimum Bid Val(Rs):</span><span class="sp-key"><%= p.min_bid %></span>
				</div>
				<div class="search-product-detail-item">
								<%= link_to "Go to Product page",controller:"product" ,action:"show",id:p.id  %></span>
				</div>


		</div>

			
</div>
		<% end %>
	</div>	



